<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
	function pySegSort(arr, empty) {
    if(!String.prototype.localeCompare)
        return null;
    var letters = "*ABCDEFGHJKLMNOPQRSTWXYZ".split('');
    var zh = "阿八嚓哒妸发旮哈讥咔垃痳拏噢妑七呥扨它穵夕丫帀".split('');
    var segs = [];// 存放数据
    var py = [];// 存放首字母
    var res = {};
    var curr;
    $.each(letters, function(i) {
        curr = {
            letter: this,
            data: []
        };
        $.each(arr, function(k, v) {
            if((!zh[i - 1] || zh[i - 1].localeCompare(v.cityName) <= 0) && v.cityName.localeCompare(zh[i]) == -1) {
                curr.data.push(this);
            }
        });
        if(empty || curr.data.length) {
            py.push(this);
            segs.push(curr);
            curr.data.sort(function(a, b) {

                return a.cityName.localeCompare(b.cityName);
            });
        }
    });
    res["segs"] = segs;
    res["py"] = py;
    console.log(res)
    return res;
}

function pinyin() {
    var arr2 = [
                    {"id" : "v1", "cityName" : "北京"},
                    {"id" : "v2", "cityName" : "上海"},
                    {"id" : "v5", "cityName" : "天津"},
                    {"id" : "v7", "cityName" : "安徽"},
                    {"id" : "v3", "cityName" : "呼和浩特"},
                    {"id" : "v4", "cityName" : "包头"},
                    {"id" : "v9", "cityName" : "海南"},
                    {"id" : "v8", "cityName" : "张家口"}
                ];
    var str = pySegSort(arr2);
    JSON.stringify(str);
}
pinyin()
</script>
</body>
</html>